<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> - I-ADOPT Variable Details</title>
  <link href="../styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <h1><a href="../index.html">I-ADOPT Variables</a></h1>
    <p>Your comprehensive resource for I-ADOPT variables and associated data.</p>
  </header>

  <main>
    <section>
      <h2></h2>
      <p class="description"></p>
    </section>

    <section>
      <h3>Property:</h3>
      <dl>
        <dt><a href="http:&#x2F;&#x2F;vocab.nerc.ac.uk&#x2F;collection&#x2F;S06&#x2F;current&#x2F;S0600045">S0600045</a></dt>
        <dd class="description"></dd>
      </dl>
    </section>

    <section>
      <h3>Object of Interest:</h3>
      <dl>
        <dt><a href="http:&#x2F;&#x2F;vocab.nerc.ac.uk&#x2F;collection&#x2F;S27&#x2F;current&#x2F;CS003625">CS003625</a></dt>
        <dd class="description"></dd>
      </dl>
    </section>

    <section>
      <h3>Matrix:</h3>
      <dl>
        <dt><a href="http:&#x2F;&#x2F;vocab.nerc.ac.uk&#x2F;collection&#x2F;S12&#x2F;current&#x2F;S1214">S1214</a></dt>
        <dd class="description"></dd>
      </dl>
    </section>

    <section>
      <h3>Context Objects:</h3>
      <dl>
        <dt><a href="http:&#x2F;&#x2F;marinespecies.org&#x2F;aphia.php?p&#x3D;taxdetails&amp;id&#x3D;140658">ostrea edulis</a></dt>
        <dd class="description"></dd>
      </dl>
    </section>

  </main>

  <footer>
    <p>&copy; 2024 I-ADOPT. All rights reserved.</p>
  </footer>
</body>
</html>
